<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: url("./assets/images/hero-bg.jpg");
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -30px;
      right: -110px;
      width: 300px;
      height: 300px;
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1
          class="my-5 display-5 fw-bold ls-tight"
          style="color: hsl(218, 81%, 95%)"
        >
          The Premier Destination <br />
          <span style="color: hsl(218, 81%, 75%)"
            >for Cinematic Excellence</span
          >
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Unlock the Best Offers for Your Movie Experience!"
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form [formGroup]="form" (ngSubmit)="register()">
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form3Example3"
                  >Email address</label
                >

                <input
                  type="email"
                  id="form3Example3"
                  class="form-control"
                  name="username"
                  formControlName="username"
                  [ngClass]="{
                    'is-invalid':
                      form.get('username').invalid &&
                      form.get('username').touched,
                    'is-valid':
                      form.get('username').valid && form.get('username').touched
                  }"
                />
                <div
                class="alert alert-danger"
                *ngIf="
                  form.get('username').invalid && form.get('username').touched
                "
              >
                <p
                  *ngIf="
                    form.get('username').hasError('required') &&
                    form.get('username').touched
                  "
                  style="color: white"
                >
                  Username is required
                </p>
                <p
                  *ngIf="
                    form.get('username').hasError('username') &&
                    form.get('username').touched
                  "
                  style="color: white"
                >
                  Invalid email address
                </p>
              </div>
              </div>
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form3Example3"
                  >name</label
                >

                <input
                  type="name"
                  id="form3Example3"
                  class="form-control"
                  name="name"
                  formControlName="name"
                  [ngClass]="{
                    'is-invalid':
                      form.get('name').invalid &&
                      form.get('name').touched,
                    'is-valid':
                      form.get('name').valid && form.get('name').touched
                  }"
                />
              </div>
              <div
              class="alert alert-danger"
              *ngIf="
                form.get('name').invalid && form.get('name').touched
              "
            >
              <p
                *ngIf="
                  form.get('name').hasError('required') &&
                  form.get('name').touched
                "
                style="color: white"
              >
                name is required
              </p>

            </div>
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form3Example3"
                  >Phone Number</label
                >

                <input
                  type="PhoneNumber"
                  id="form3Example3"
                  class="form-control"
                  name="phoneNumber"
                  formControlName="phoneNumber"
                  [ngClass]="{
                    'is-invalid':
                      form.get('phoneNumber').invalid &&
                      form.get('phoneNumber').touched,
                    'is-valid':
                      form.get('phoneNumber').valid && form.get('username').touched
                  }"
                />
              </div>
              <div
              class="alert alert-danger"
              *ngIf="
                form.get('phoneNumber').invalid && form.get('phoneNumber').touched
              "
            >
              <p
                *ngIf="
                  form.get('phoneNumber').hasError('required') &&
                  form.get('phoneNumber').touched
                "
                style="color: white"
              >
              phoneNumber is required
              </p>

            </div>
              <!-- Password input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Password</label>

                <input
                  type="password"
                  id="form3Example4"
                  class="form-control"
                  name="password"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid':
                      form.get('password').invalid &&
                      form.get('password').touched,
                    'is-valid':
                      form.get('password').valid && form.get('password').touched
                  }"
                />
              </div>
              <div
                class="alert alert-danger"
                *ngIf="
                  form.get('password').invalid && form.get('password').touched
                "
              >
                <p
                  *ngIf="
                    form.get('password').hasError('required') &&
                    form.get('password').touched
                  "
                  style="color: white"
                >
                  Password is required
                </p>
                <p
                  *ngIf="
                    form.get('password').hasError('pattern') &&
                    form.get('password').touched
                  "
                  style="color: white"
                >
                  Password must contain at least one uppercase letter, one
                  lowercase letter, one digit, one special character, and have a
                  minimum length of 8 characters
                </p>
              </div>

              <!-- Submit button -->
              <button
                type="submit"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-primary btn-block mb-4 mx-auto"
                style="margin: 0 auto; display: block"
              >
                Sign in
              </button>
              <div class="inlinLinks">
                <a
                  routerLink="/accounts"
                  data-mdb-ripple-init
                  class="link-primary mb-4 mx-auto"
                  >Don't have an account? signup</a
                >
              </div>

              <!-- Register buttons -->
              <div class="text-center">
                <p>or sign in with:</p>
                <button
                  type="button"
                  (click)="signUpWithFB()"
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-link btn-floating mx-1 btn-lg"
                >
                  <ion-icon name="logo-facebook"></ion-icon>
                </button>
                <button
                  type="button"
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-link btn-floating mx-1 btn-lg"
                >
                  <ion-icon name="mail-unread-outline"></ion-icon>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
